################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/HelloWorld/.vs
/C#/HelloWorld/HelloWorld/bin/Debug/net6.0
/C#/HelloWorld/HelloWorld/obj
/C#/SwitchExpression/.vs
/C++/HelloWorld/.vs/HelloWorld
